<div class="card bg-light mb-3">
    <div class="card-header">
        <h3 class="text-center">{{titulo}}</h3>
    </div>
    <div class="card-body">
        <div>
            <button class="btn btn-primary my-2" routerLink="/examenes/form" >crear</button>
            <div class="alert alert-info" *ngIf="lista?.length == 0">
                No hay exámenes en el sistema
            </div>
            <table class="table table-hover table-striped" *ngIf="lista?.length > 0">
                <thead>
                    <th>id</th>
                    <th>nombre</th>
                    <th>asignaturas</th>
                    <th>Preguntas</th>
                    <th>creado en</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </thead>
                <tbody>
                    <tr *ngFor="let examen of lista">
                        <td>{{examen.id}}</td>
                        <td>{{examen.nombre}}</td>
                        <td>{{examen.asignaturaPadre.nombre}} -> {{examen.asignaturaHija.nombre}}</td>
                        <td>{{examen.preguntas.length}}</td>
                        <td>{{examen.createAt | date: 'yyyy/MM/dd'}}</td>
                        <td>
                            <button class="btn btn-secondary btn-sm" 
                                [routerLink]="['/examenes/form',examen.id]" >
                                editar
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"  
                                (click)="eliminar(examen)">
                                <img src="/assets/icons/basura.png" alt="eliminar">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page) = "paginar($event)"
              showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
  </div>

